NODE_ENV=
PORT=
API_KEY=
API_SECRET=
DATABASE_URL=

REACT_APP_ROOM_NAME=
REACT_APP_PRESENTER_PIN=
REACT_APP_MODERATOR_PIN=
REACT_APP_PARTICIPANT_PIN=
REACT_APP_API_URL=

REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=