PORT=
DATABASE_URL=

MONGODB_DATABASE_URL=
MONGODB_DATABASE_NAME=

OPENTOK_API_KEY=
OPENTOK_API_SECRET=
OPENTOK_RECORDING_MODE=
OPENTOK_MEDIA_SOURCE=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
