PORT=
DATABASE_URL= "postgres://postgres:secret@localhost:5432/postgres"

MONGODB_DATABASE_URL= "mongodb://127.0.0.1:27017"
MONGODB_DATABASE_NAME=
MONGODB_USE_TLS=
MONGODB_TLS_CA=

DEFAULT_PARTICIPANT_PIN=
DEFAULT_PRESENTER_PIN=
DEFAULT_MODERATOR_PIN=

OPENTOK_API_KEY=
OPENTOK_API_SECRET=
OPENTOK_RECORDING_MODE=
OPENTOK_MEDIA_SOURCE=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=


